.customers,
.customersCount {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.customersCount {
  font-size: var(--font-size-29xl);
  line-height: 80px;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--primary-navy);
  min-width: 54px;
}
.customersParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: var(--br-81xl);
  overflow: hidden;
  flex-shrink: 0;
}
.dashboardCustomersCount,
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.dashboardCustomersCount {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--primary-white);
  border: 1px solid var(--grey-grey-30);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xl);
  cursor: pointer;
  z-index: 1;
  text-align: left;
  font-size: var(--heading-h5-bold-size);
  color: var(--grey-grey-70);
  font-family: var(--small-medium);
}
@media screen and (max-width: 1025px) {
  .customersCount {
    font-size: var(--font-size-19xl);
    line-height: 64px;
  }
}
@media screen and (max-width: 450px) {
  .customersCount {
    font-size: var(--font-size-10xl);
    line-height: 48px;
  }
}
