.image,
.image1 {
  border-radius: var(--br-6xl);
}
.image1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-grey-30);
}
.image {
  height: 44px;
  width: 44px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.city,
.street,
.street1 {
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.street {
  flex: 1;
  min-width: 100px;
  max-width: 100%;
}
.city,
.street1 {
  min-width: 10px;
}
.city {
  min-width: 36px;
}
.price,
.streetParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.price {
  justify-content: flex-end;
  font-size: var(--small-medium-size);
}
.streetParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.city1,
.separator {
  display: inline-block;
}
.city1 {
  position: relative;
  line-height: 27px;
  min-width: 57px;
}
.separator {
  width: 10px;
  flex-shrink: 0;
}
.separator,
.state,
.zipCode {
  position: relative;
  line-height: 27px;
}
.state {
  display: inline-block;
  min-width: 20px;
}
.zipCode {
  align-self: stretch;
  width: 42px;
  display: none;
}
.address {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-176xl) 0 0;
  box-sizing: border-box;
  min-width: 87px;
}
.appointmentDate {
  width: 117px;
  position: relative;
  line-height: 27px;
  text-align: right;
  display: inline-block;
  min-width: 117px;
  white-space: nowrap;
}
.addressParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--small-medium-size);
  color: var(--grey-grey-70);
}
.customerAddress,
.dealRepeatLink,
.detail {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.customerAddress {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 267px;
}
.dealRepeatLink,
.detail {
  flex-direction: row;
}
.detail {
  flex: 1;
  align-items: center;
  gap: var(--gap-base);
}
.dealRepeatLink {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-4xs) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: var(--body-bold-27-size);
  color: var(--primary-navy);
  font-family: var(--small-medium);
}
@media screen and (max-width: 450px) {
  .streetParent {
    flex-wrap: wrap;
  }
  .address {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .addressParent,
  .detail {
    flex-wrap: wrap;
  }
}
