.imageIcon {
  height: 44px;
  width: 44px;
  position: relative;
  border-radius: var(--br-6xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.city,
.state,
.street {
  position: relative;
  line-height: 27px;
}
.city,
.state {
  display: inline-block;
  min-width: 67px;
}
.state {
  min-width: 22px;
}
.cityParent,
.customerAddress,
.detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cityParent {
  flex-direction: row;
  gap: var(--gap-8xs);
  font-size: var(--small-medium-size);
  color: var(--grey-grey-70);
}
.customerAddress,
.detail {
  flex: 1;
  flex-direction: column;
}
.detail {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  min-width: 180px;
  text-align: left;
  font-size: var(--body-bold-27-size);
  color: var(--primary-navy);
  font-family: var(--small-medium);
}
