.icon,
.icon1 {
  overflow: hidden;
}
.icon1 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  border-radius: var(--br-81xl);
  background-color: var(--primary-white);
  border: 11px solid var(--color-goldenrod-100);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.icon {
  height: 54px;
  width: 54px;
  position: relative;
  flex-shrink: 0;
}
.dateTime,
.notes {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.notes {
  font-weight: 500;
  color: var(--primary-navy);
}
.activity,
.activityRepeat,
.activityRepeatWrapper,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: column;
}
.activity,
.activityRepeat,
.activityRepeatWrapper {
  max-width: 100%;
}
.activity {
  flex: 1;
  flex-direction: column;
  min-width: 279px;
}
.activityRepeat,
.activityRepeatWrapper {
  flex-direction: row;
}
.activityRepeat {
  flex: 1;
  row-gap: 20px;
  z-index: 1;
}
.activityRepeatWrapper {
  align-self: stretch;
  padding: 0 var(--padding-lg);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--small-medium-size);
  color: var(--grey-grey-70);
  font-family: var(--small-medium);
}
@media screen and (max-width: 450px) {
  .activityRepeat {
    flex-wrap: wrap;
  }
}
