.emoji-icon {
  width: 20px;
  height: 19.7px;
  position: relative;
}
.emoji-wrapper {
  height: 24.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.2000000000000455px 0 0;
  box-sizing: border-box;
}
.customer-saved {
  flex: 1;
  position: relative;
  line-height: 30px;
}
.vuesaxoutlineclose-circle-icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.alert-customer-saved,
.close-button,
.notification {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.close-button {
  height: 27px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.alert-customer-saved,
.notification {
  overflow: hidden;
  flex-direction: row;
}
.notification {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--base-shade-100);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  padding: var(--padding-smi) var(--padding-base) var(--padding-smi)
    var(--padding-3xl);
  gap: var(--gap-xs);
}
.alert-customer-saved {
  width: 347px;
  position: relative;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  letter-spacing: normal;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--small-medium-size);
  color: var(--primary-white);
  font-family: var(--small-medium);
}
